#header{
    height: 65px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: rgb(48, 60, 84);
    color: white; 
    padding: 5px;
    
}
#menuic{
    margin: 0 10px;
}
p{
    flex: 1; 
}
#logout{
    margin: 0 10px;
}