
#root{
    height: 100vh;
}

#alluser{
    height: 89vh;
    overflow-x: hidden;
} 

#sidebarr{
    background-color: black;
}
#dashbord--CBreadcrumbItem{
    text-decoration: none;
    color: black;
    font-size: small;
    cursor: pointer;
}
#dashbord--CBreadcrumbItem:hover{
    opacity: 75%;
}
