
#root{
    height: 100vh;
}

#alluser{
    height: 89vh;
    overflow-x: hidden;
} 

#sidebarr{
    background-color: black;
}
#dashbord--CBreadcrumbItem{
    text-decoration: none;
    color: black;
    font-size: small;
    cursor: pointer;
}
#dashbord--CBreadcrumbItem:hover{
    opacity: 75%;
}
#bg{    background-color: rgb(48, 60, 84);
    color: white;
}
#login--back{
    position: fixed;
    width: 100%;
    height: 100%;
}
